.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.glow-on-hover {
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  color: black;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-left: 0px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  /* filter: blur(5px); */
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  /* filter: blur(5px); */
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* .glow-on-hover:active.focus{
  background-color: black;
  } */

  .cls-1 {
    fill: #ffc541;
  }
  
  .cls-2 {
    fill: #4e4066;
  }
  
  .cls-3 {
    fill: #6f5b92;
  }
  
  .cls-4 {
    fill: #f78d5e;
  }
  
  .cls-5 {
    fill: #fa976c;
  }
  
  .cls-6,
  .cls-7,
  .cls-8 {
    fill: #b65c32;
  }
  
  .cls-10,
  .cls-6 {
    opacity: 0.6;
  }
  
  .cls-7 {
    opacity: 0.4;
  }
  
  .cls-9 {
    fill: #f4b73b;
  }
  
  .cls-11 {
    fill: #f9c358;
  }
  
  .cls-12 {
    fill: #9b462c;
  }
  
  .cls-13 {
    fill: #aa512e;
  }
  
  .cls-14 {
    fill: #7d6aa5;
  }
  
  
  /* animations */
  
  .wheel {
    animation: wheel-rotate 6s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
  }
  
  @keyframes wheel-rotate {
    50% {
      transform: rotate(360deg);
      animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
    100% {
      transform: rotate(960deg)
    }
  }
  
  .clock-hand-1 {
    animation: clock-rotate 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;
  }
  
  .clock-hand-2 {
    animation: clock-rotate 6s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;
  }
  
  @keyframes clock-rotate {
    100% {
      transform: rotate(360deg)
    }
  }
  
  #box-top {
    animation: box-top-anim 2s linear infinite;
    transform-origin: right top;
    transform-box: fill-box;
  }
  
  @keyframes box-top-anim {
    50% {
      transform: rotate(-5deg)
    }
  }
  
  #umbrella {
    animation: umbrella-anim 6s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
  }
  
  @keyframes umbrella-anim {
    25% {
      transform: translateY(10px) rotate(5deg);
    }
    75% {
      transform: rotate(-5deg);
    }
  }
  
  #cup {
    animation: cup-rotate 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
    transform-origin: top left;
    transform-box: fill-box;
  }
  
  @keyframes cup-rotate {
    50% {
      transform: rotate(-5deg)
    }
  }
  
  #pillow {
    animation: pillow-anim 3s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
  }
  
  @keyframes pillow-anim {
    25% {
      transform: rotate(10deg) translateY(5px)
    }
    75% {
      transform: rotate(-10deg)
    }
  }
  
  #stripe {
    animation: stripe-anim 3s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
  }
  
  @keyframes stripe-anim {
    25% {
      transform: translate(10px, 0) rotate(-10deg)
    }
    75% {
      transform: translateX(10px)
    }
  }
  
  #bike {
    animation: bike-anim 6s ease infinite;
  }
  
  @keyframes bike-anim {
    0% {
      transform: translateX(-1300px)
    }
    50% {
      transform: translateX(0);
      animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }
    100% {
      transform: translateX(1300px)
    }
  }
  
  #rucksack {
    animation: ruck-anim 3s linear infinite;
    transform-origin: top;
    transform-box: fill-box;
  }
  
  @keyframes ruck-anim {
    50% {
      transform: rotate(5deg)
    }
  }
  
  .circle {
    animation: circle-anim ease infinite;
    transform-origin: center;
    transform-box: fill-box;
    perspective: 0px;
  }
  
  .circle.c1 {
    animation-duration: 2s
  }
  
  .circle.c2 {
    animation-duration: 3s
  }
  
  .circle.c3 {
    animation-duration: 1s
  }
  
  .circle.c4 {
    animation-duration: 1s
  }
  
  .circle.c5 {
    animation-duration: 2s
  }
  
  .circle.c6 {
    animation-duration: 3s
  }
  
  @keyframes circle-anim {
    50% {
      transform: scale(.2) rotateX(360deg) rotateY(360deg)
    }
  }
  
  .four,
  #ou {
    animation: four-anim cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  }
  
  .four.a {
    transform-origin: bottom left;
    animation-duration: 3s;
    transform-box: fill-box;
  }
  
  .four.b {
    transform-origin: bottom right;
    animation-duration: 3s;
    transform-box: fill-box;
  }
  
  #ou {
    animation-duration: 6s;
    transform-origin: center;
    transform-box: fill-box;
  }
  
  @keyframes four-anim {
    50% {
      transform: scale(.98)
    }
  }

  html, body {
    height: 100%;
  }
  
  .buttonback {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttonback2 {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
    .buttonback2::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .buttonback2:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .buttonback2:hover::before, button:focus::before {
    opacity: 1;
  }
  
  .buttonback2::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .buttonback2:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }